.missions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missionCards {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
