.missions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missionCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
}
