.PlanetCard {
  align-items: center;
  display: flex;
  flex: 150px 1 0;
  flex-direction: column;
  justify-content: center;
}

p {
  color: white;
  font-size: 20px;
  text-align: center;
}

img {
  width: 100%;
}
