.sistema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.planets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 0px;
}